{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

{{> "header"}}

{{! Everything inside the #author tags pulls data from the author }}
{{#author}}
    <section class="author-profile inner">
        {{#if image}}
        <figure class="author-image">
            <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
        </figure>
        {{/if}}
        <h1 class="author-title">{{name}}</h1>
        <h2 class="author-bio">{{bio}}</h2>
        <div class="author-meta">
            {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
            {{#if website}}<span class="author-link fa fa-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
            <span class="author-stats"><i class="fa fa-bar-chart"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
        </div>
    </section>
{{/author}}

{{! The main content area on the homepage }}
<main id="content" class="content clearfix" role="main">


    <div id="articles">
      {{> "loop"}}
    </div>


    <div id="sidebar">
      {{> "sidebar"}}
    </div>
</main>